{% extends 'base.html.twig' %}

{% block title %}Factuur{% endblock %}

{% block body %}
    <h1>Factuur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factuur.id }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ factuur.datum ? factuur.datum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('factuur_index') }}">back to list</a>

    <a href="{{ path('factuur_edit', {'id': factuur.id}) }}">edit</a>

    {{ include('factuur/_delete_form.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>Factuur</th>
                <th>Regel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regel in regels %}
            <tr>
                <td>{{ regel.id }}</td>
                <td>{{ regel.aantal }}</td>
                <td>{{ regel.factuur }}</td>
                <td>{{ regel.product }}</td>
                <td>
                    <a href="{{ path('regel_show', {'id': regel.id}) }}">show</a>
                    <a href="{{ path('regel_edit', {'id': regel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
