{% extends 'base.html.twig' %}

{% block title %}Regel index{% endblock %}

{% block body %}
    <h1>Regel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>Factuur</th>
                <th>Regel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regel in regels %}
            <tr>
                <td>{{ regel.id }}</td>
                <td>{{ regel.aantal }}</td>
                <td>{{ regel.factuur }}</td>
                <td>{{ regel.product }}</td>
                <td>
                    <a href="{{ path('regel_show', {'id': regel.id}) }}">show</a>
                    <a href="{{ path('regel_edit', {'id': regel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('regel_new') }}">Create new</a>
{% endblock %}
